.aboutMe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 10px;
  margin-right: 55px;
}
.h2 {
  margin-top: 50px;
  text-align: center;
}

div #about {
  margin-top: 40px;
  text-indent: 50px;
  text-align: left;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 40px;
  font-size: 20px;
}
a #aboutIcon {
  font-size: 100px;
  margin-left: 450px;
}

#MyPhoto {
  width: 220px;
  height: 220px;
  margin-top: 180px;
  margin-left: 80px;
}




@media only screen and (max-width: 280px) {
  #MyPhoto {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 30px;
  }
  .h2 {
    margin-top: 30px;
    text-align: center;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
  }
  div #about {
    margin-top: 20px;
    text-indent: 50px;
    text-align: left;
    margin-bottom: 40px;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  a #aboutIcon {
    font-size: 50px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 320px) and (min-width:281px){
  #MyPhoto {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 50px;
  }
  .h2 {
    margin-top: 30px;
    text-align: center;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
  }
  div #about {
    margin-top: 20px;
    text-indent: 50px;
    text-align: left;
    margin-bottom: 40px;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  a #aboutIcon {
    font-size: 50px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 360px) and (min-width: 321px) {
  #MyPhoto {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 65px;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
  }
  div #about {
    margin-top: 20px;
    text-indent: 50px;
    text-align: left;
    margin-bottom: 40px;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  a #aboutIcon {
    font-size: 50px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 375px) and (min-width: 361px) {
  #MyPhoto {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 75px;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
  }
  div #about {
    margin-top: 20px;
    text-indent: 50px;
    text-align: left;
    margin-bottom: 40px;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  a #aboutIcon {
    font-size: 50px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 411px) and (min-width: 376px) {
  #MyPhoto {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 90px;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
  }
  div #about {
    margin-top: 20px;
    text-indent: 50px;
    text-align: left;
    margin-bottom: 40px;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  a #aboutIcon {
    font-size: 50px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 414px) and (min-width: 412px) {
  #MyPhoto {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 90px;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
  }
  div #about {
    margin-top: 20px;
    text-indent: 50px;
    text-align: left;
    margin-bottom: 40px;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  a #aboutIcon {
    font-size: 50px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 540px) and (min-width: 415px) {
  #MyPhoto {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 150px;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
  }
  div #about {
    margin-top: 20px;
    text-indent: 50px;
    text-align: left;
    margin-bottom: 40px;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  a #aboutIcon {
    font-size: 50px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 541px) {
  .aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 10px;
    margin-right: 20px;
  }
  .h2 {
    margin-top: 50px;
    text-align: center;
  }

  div #about {
    margin-top: 40px;
    text-indent: 50px;
    text-align: left;
    margin-bottom: 50px;
  }
  a #aboutIcon {
    font-size: 50px;
    margin-left: 300px;
  }

  #MyPhoto {
    width: 200px;
    height: 200px;
    margin-top: 200px;
    margin-right: 40px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 10px;
    margin-right: 55px;
  }
  .h2 {
    margin-top: 50px;
    text-align: center;
  }
  
  div #about {
    margin-top: 40px;
    text-indent: 50px;
    text-align: left;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 50px;
  }
  a #aboutIcon {
    font-size: 100px;
    margin-left: 250px;
  }
  
  #MyPhoto {
    width: 200px;
    height: 200px;
    margin-top: 200px;
  }
}