@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
body {
  font-family: "Overlock", cursive;
}
h1 {
  font-family:'Times New Roman', Times, serif;
}
.card-text{
  /* margin-top: -20px; */
  font-size: 30px;
  text-align: left;
}

#button{
  background-color: transparent;
  border: white;
}
body.light {
  background: linear-gradient(-45deg, #04daf7, #a1cdd4, #03f7ba, white);
  background-size: 1000% 1000%;
  animation: gradient 15s ease infinite;
  color: black;
}
body.dark {
  background: linear-gradient(-45deg, #151b1b, #261e27, #0a2022, #02121f);
  background-size: 1000% 1000%;
  animation: gradient 15s ease infinite;
  color: rgb(246, 242, 242);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
a {
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  body.light {
    background: linear-gradient(-45deg, #04daf7, #a1cdd4, #03f7ba, white);
    background-size: 2000% 2000%;
    animation: gradient 15s ease infinite;
    color: black;
  }
  body.dark {
    background: linear-gradient(-45deg, #151b1b, #261e27, #0a2022, #02121f);
    background-size: 2000% 2000%;
    animation: gradient 15s ease infinite;
    color: rgb(246, 242, 242);
  }
}
